<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farhannz.kaitou">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <application
        android:label="Kaitou"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".helpers.ScreenshotPermissionActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:exported="false"
                android:excludeFromRecents="true"
                android:noHistory="true"
        />

        <service android:name=".OverlayService" android:exported="false" android:foregroundServiceType="specialUse"/>
        <service android:name=".ScreenshotService" android:exported="false" android:foregroundServiceType="mediaProjection"/>

    </application>
</manifest>
